* {
   padding: 0;
   margin: 0;
   border: 0;
}
*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
:focus,
:active {
   outline: none;
}
a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   height: 100%;
   max-width: 1440px;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}
button {
   cursor: pointer;
}
button::-moz-focus-inner {
   padding: 0;
   border: 0;
}
a,
a:visited {
   text-decoration: none;
}
a:hover {
   text-decoration: none;
}
ul li {
   list-style: none;
}
img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}
/*----------Обнуление----------*/
._body {
   max-width: 1200px;
   margin: 0 auto;
}
.bg_grey {
   background-color: #e9e7e7;;
}
.bg_black{
   background-color: #232323;
}
.button {
   padding: 20px 56px;
   border: 5px solid #232323;
   border-radius: 5px;
}
.body {
   height: 100%;

}
h1{
   font-family: Cardo;
   font-size: 81.5px;
   line-height: 81px;
   font-weight: 700;
   letter-spacing: -0.025em;
   color: #232323;
}
p{
   font-family: Lato;
   font-size: 16.7px;
   line-height: 1.2;
   font-weight: 400;
   letter-spacing: -0.025em;
   color: #232323;
}
a{
   font-family: Lato;
   font-size: 20.9px;
   line-height: 1.2;
   font-weight: 700;
   letter-spacing: -0.025em;
   color: #232323;
}
/*----------Основы----------*/
.first_block {
   min-height: 819px;
   .block_menu {
      min-height: 220px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .menu_wrap {
         min-width: 380px;
         display: flex;
         justify-content: space-between;
      }
   }
   /*----------Header----------*/
   .content_body {
      max-height: 419px;
      display: flex;
      justify-content: space-between;
   
      .content_info{
         max-width: 428px;
         display: flex;
         flex-direction: column;
         align-items: flex-start;
         justify-content: space-between;
         .button_black{
            display: block;
            color: #e9e7e7;
            background-color: #232323;
         }
      }
      .content_img{
         img{
            width: 662px;
         }
      }
   }
}
.second_block{
   min-height: 387px;
   display: flex;
   align-items:center;
   flex-direction: column;
   justify-content: space-around;
   p,a{
      max-width: 440px;
      color: #e9e7e7;
   }
   .title{
      p{
         padding: 40px 0 0 0;
         font-family: Cardo;
         font-size: 55.5px;
         line-height: 55px;
         font-weight: 700;
         letter-spacing: -0.025em;
         color: #e9e7e7;
      }
   }
}

.third_block{
   min-height: 2553px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   .block_cards{
      padding-top: 130px;
      display: flex;
      .card{
         min-height: 474px;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         align-items: flex-start;
         .title{
            font-family: Cardo;
            font-size: 36.4px;
            line-height: 36px;
            font-weight: 700;
            letter-spacing: -0.025em;
            color: #232323;
         }
      }
   }
   .block_tagline{
      padding-top: 131px;
      min-height: 420px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      .tagline{
         max-width: 776px;
         font-family: Cardo;
         font-size: 97.7px;
         line-height: 97px;
         font-weight: 700;
         letter-spacing: -0.025em;
         color: #232323;
         span{
            font-style: italic;
            text-decoration: underline;
         }
      }
   }
   .block_more_info{
      min-width: 1180px;
      display:flex;
      width: 170px;
      flex-wrap:wrap;
      .combo_img{
         height: 776px;
         padding: 15px;
      }
      .combo_mini_img{
         padding: 15px;
         img{
            max-height: 322px;
         }
      }
      .section{
         max-width: 420px;
         display: flex;
         justify-content: space-between;
         .subtitle{
            padding: 15px;
            max-width: 236px;
            font-family: Cardo;
            font-size: 36.4px;
            line-height: 50px;
            font-weight: 700;
            text-decoration: underline;
            letter-spacing: -0.025em;
            color: #232323;
         }
      }
      a{
         font-size: 50px;
         padding-left: auto;
      }
   }
}