@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 1440px;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
  color: #232323;
  font-family: Lato;
}

/*--------------------*/
._body {
  max-width: 83%;
  margin: 0 auto;
}

.bg_grey {
  background-color: #e9e7e7;
}

a, p {
  font-family: Lato;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.025em;
  color: #232323;
}

p {
  font-size: 16.7px;
}

a {
  font-size: 20.9px;
}

/*---------Общие-----------*/
.first_block {
  min-height: 820px;
  position: absolute;
}
.first_block .block_menu {
  min-height: 212px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.first_block .block_menu .menu_wrap {
  height: inherit;
  max-width: 380px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.first_block .block_menu .menu_wrap li {
  display: block;
  height: inherit;
  font-weight: 300;
  color: #515155;
}
.first_block .block_menu .menu_wrap li span {
  font-weight: 700;
  color: #232323;
}
.first_block .block_menu .button {
  height: inherit;
  border: 3px solid #232323;
  border-radius: 5px;
  padding: 20px 56px;
}
.first_block .content_body {
  min-height: 607px;
}
.first_block .content_body .content_img {
  max-width: 662px;
}